/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  margin: auto;
}

/* */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid seashell;
  position: fixed;
  width: 100%;
  background-color: black;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

span {
  text-decoration: underline;
  padding: 15px;
}

a {
  color: white;
  text-align: right;
  margin: 0 auto;
}

img {
  background-size: cover;
  margin: 0 auto;
  align-items: center;
}

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  background-size: cover;
}

.mission h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0;
  padding: 10px;
  background-color: black;
}

.mission h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0;
  padding: 10px;
  background-color: black;
}

h2,
h4 {
  text-align: center;
}

.Tea-Container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: inline-flex;
}

.images img {
  height: 200px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.images span {
  text-decoration: none;
  text-align: center;
  margin:-bottom: 0;
  margin-right: 10px;
}

/* locations Section */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding: 40px;
}

div.flex-container.locations {
  background-color: transparent;
  background-size: cover;
  display: flex;
  width: 1200px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dotted orangred;
  background-color: black;
  width: 300px;
  margin: 40px;
  padding-bottom: 10px;
}

h5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

/* Footer */

footer {
  margin-left: 20px;
  text-align: left;
}
